@charset "ISO-8859-1";
html, body {
	height: 100%;
	width: 100%;
	color: #667e8e;
	background-color: #3d474b;
}
.bg {
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("../img/background.jpg");
}
.fg {
	position: absolute;
	height: 200px;
	width: 440px;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -220px;
	background-color: black;
	text-align: center;
	box-shadow: 0 0 10px #93bdff, 0 0 5px #70a8ff;
	border: medium solid #5e9eff;
}
ul.links {
	padding: 0;
	margin: 0;
	list-style-type: none;
	background-color: black;
}
.links li {
	float: none;
	display: inline;
}
.links li a {
	padding: .2em 1em;
	text-decoration: none;
	text-shadow: 2px 2px #494949;
	font-family: "Verdana";
	color: white;
}
.links li a:hover {
	color: #e3afd4;
}
#name {
	height: 116px;
	width: 400px;
	padding-top: 25px;
	padding-bottom: 5px
}